@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;600&family=Poppins:wght@100&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish",sans-serif;
}


/*---------------------------------- Navbar -----------------------*/

.navbar{
  background-color: #fff;
}
button-toggler-icon{
  color: aquamarine;
}
.nav-link{
  color: rgb(85, 84, 84);
  margin-right: 15px;
}
.nav-link:hover{
  color:rgb(91, 137, 236)
}



/*---------------------------- Aboutme ----------------------------*/
.section-about{
  margin: 100px auto;
  z-index: 1;
  position: relative;
}
.section-about-img{
  max-width: 380px;
  position: relative;
  margin: 50px auto;
}
.section-about-img::after{
  content:"";
  position: absolute;
  height: 450px;
  width: 370px;
  border: 3px solid #f47a65;
  border-radius: 3px;
  bottom: -20px;
  left: 30px;
  z-index: -3;
}

.row h2{
  letter-spacing: 2px;
  color: #333;
  font-weight: 700;
}
.about-desc{
  padding-right: 30px;
}
.about-desc h2{
  letter-spacing: 2px;
  color: #333;
  font-size: 32px;
  font-weight: 700;
}
.about-desc-content{
  max-width: 500px;
}
.about-desc p{
  color: #333;
  font-weight: 300;
}




/*----------------- Why choose us card ------------------- */
.card-us{
  width: 10rem;
  margin: 25px 40px;
  border: none;
  cursor: pointer;
}
.card-us:hover{
  box-shadow: 1px 1px 10px #24262b;
}

.card-us img{
  height: 7rem;
}

.card-title1{
  align-items: center;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}

.container-head{
  margin-bottom: 200px;
}


/* --------------------------------- Articels------------------- */
.card{
  width: 18rem;
  margin: 25px 50px;
  border: none;
  box-shadow: 1px 2px 15px gray;
}
.card:hover{
  width: 18.2rem;
  box-shadow: 1px 2px 20px rgb(66, 53, 53);
}
.container-card{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  
}
.card img{
  height: 19rem;
}
.card-title{
  line-height: 40px;
}
.card-link{
  color: #c70505;
  font-weight: 600;
  cursor: pointer;
}

.btn-danger{
  font-size: 17px;
  margin-bottom: 90px;
  font-weight: 600;
  background-color: #c70505;
}




/* ----------------------Video ---------------------------*/

.container-video{
  margin: 25px;
  margin-left: 160px;
}
.videolist{
  border-radius: 6px;
  
  margin: 10px;
  box-shadow:1px 1px 1px gray;
  margin-left:10px ;
}
.videolist:hover{
  box-shadow:1px 5px 10px gray;
}

.videotext{
  color: #c70505;
  font-weight: 600;
  text-align: center;
}
.container-videos{
  margin: 200px 0;
}



/*---------------ContactUs--------------- */

.btn-form {
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: #ffa600;
  border: 1px solid #ffa600;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  display: block;
  font-size: 16px;
  text-transform: uppercase;
}


/*---------------- Footer css--------------- */ 

.container-footer{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
    
}
.footer{
	background-color: #24262b;
    padding: 40px 0;
}
.footer-title img{
  width: 200px;
    margin-bottom:20px;
    cursor: pointer;
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #818181;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}


.footer-make-title{
    text-align: center;
    color: #fff;
    background-color: #0e0f0f;
    line-height: 60px;
    font-size: 20px;
    position: relative;
    top: 60px;
}
